.DS_Store
node_modules
/dist
#router main App.vue store.js assets
store/index.js
main.js
App.vue
router/index.js
assets

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules
